
        <div class="content">
    <h1>$Uploadedfile.filename</h1>
    <div class="video-container">
            <video id="video-player" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
        <source src="/uploads/1736533592070.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
        </div>
                    <div class="video-actions">
                        <button id="fullscreen-btn" class="btn btn-primary">Fullscreen</button>
                    </div>
               </div>
</div>
    